/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------
THEME STYLE
-------------------------------*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: #C9EDDC;
    display: flex;
}

aside {
    padding: 20px;
    position: fixed;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #DB4D0B;
    color: white;
    font-size: 1rem;
}

label {
    display: block;
}

#imageSettings {
    margin: 20px 0;
    font-size: 1.2rem;
}

input[type='checkbox'] {
    accent-color: #DB4D0B;
}

main {
    margin: 20px auto;
    width: 80%;
    display: grid;
    position: relative;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.card {
    padding: 10px;
    width: 100%;
}

.card h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card a {
    color: #DB4D0B;
    font-weight: 600;
}

.media {
    position: relative;
}

.media img {
    object-fit: contain;
    height: 200px;
}

.info {
    width: 80%;
}

.info p {
    margin-bottom: 5px;
}

.percentageOff {
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: 2;
    background-color: #db4d0b;
    color: #fff;
    padding: 3px 4px;
    font-weight: 600;
}

.price {
    font-size: 1.6rem;
    font-weight: 600;
}

.msrp {
    text-decoration: line-through;
    font-size: 1.1rem;
    font-weight: 500;
}

.condition {
    font-weight: 600;
}